/*for kiosk-apps: otherwise there is a white space between the content and the screen-edges*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: black;
}

/*it is important that this tag has width/height 100vw/vh and position: absolute to center the content and to rotate
it by 180 degrees (see settings.txt file)*/
#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.video, .image {
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contentPart {
    position: absolute;
    width: 100%;
    height: 100%;
}

#error {
    color: red;
}